@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  margin:0;
  padding:0;
}
:root {
  --clr-light: #fdfdfb;
  --clr-dark: #000000;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
}
html { scroll-behavior: smooth; } 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: calc(3.052rem);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  line-height: 1;
}
h2 {
  font-size: calc(2.441rem);
  font-family: var(--ff-title);
  margin: 0 0em 0.25em;
  line-height: 1;
}
h3 {
  font-size: calc(1.953rem);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  line-height: 1;
}
h4 {
  font-size: calc(1rem + .5vw);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  line-height: 1;
}
h1 {
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}



.btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
 border: currentColor solid 2px;
}

.btn-accent {
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--foreground) 2px solid;
  left: -4px;
  top: 4px;
  border-radius: inherit;
  z-index: -1;
}

.intro {
  height: 80vh;
  padding: 10em 0;
  display: grid;
  grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
  background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
  align-content: center;
}

.intro > * {
  grid-column: 2 / 3;
}


/* Custom styles */
html{
  line-height: 1.5;
  min-width: 300px;
  overflow-x: hidden;
  min-height: 100vh;
  text-shadow: 0 3px 5px rgba(0,0,0, 0.1);
}
.contentb {
  display: flex;
  position: relative;
  min-height: 80vh;
}
.side{
  max-height: 20rem;
  min-width: 20rem;
}
.about{
  max-width: 26rem;
}
.picture-shadow,.picture-image{
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

}

/* .picture{
  padding-top: 100%;
  position:relative;
  width: 100%; */
/* }
.picture-shadow{
  border-radius: 290486px;
  top:10%;
  background-image:  radial-gradient(#000, 0%, rgba(0.0.0.0) 70%);
  position: absolute;
}
.picture-image{
  border-radius: 290486px;
  position: absolute;
} */
@media screen and (max-width:799px){
  .contentb{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5 rem 3rem;
  }
  .side{
    margin-bottom: 3rem;
    width: 100%;
  }
}
.name{
  line-height: 1.125;
  margin-bottom: 0.5rem;
  font-size: 2.25rem;
}
.job,.button{
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.job{
  font-size: 0.75rem;
}
.description{
  font-size: 1.5rem;
}
.hr{
  background-color: black;
  content: "";
  height: 1px;
  width: 4rem;
  transform-origin: center left;
  margin-top: 1.5rem;
margin-bottom: 1.5rem;
}
.contact{
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}
.button,
.social a{
  transform-origin: center;
  transition-duration: 100ms;
}
.button:hover{
  box-shadow: 0 1.5rem 3rem rgba(0,0,0, 0.2);
  transform: scale(1.02) translateY(-4px);
}
.button:active{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.3);
  transform: scale(.98) translateY(-2px);
}
.social{
  display: flex;
  margin-top: 1.5rem;
}
.social li{
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}
.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  opacity: 0.5;
  transition-property: opacity,transform;
  width: 2rem;
  will-change: opacity, tranform;
}
@media screen and (min-width:800px){
  .contentb{
    align-items: center;
    justify-content:  space-around;
    justify-content: space-evenly;
    padding: 4em;
  }
  .side{
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4 rem;
    order: 2;
    width: 20rem;
  }
  .about{
    flex-grow: 1;
    flex-shrink: 1;
  }
}

body{
  padding: 1.2em;
}
.card-info{
  padding: 1.2em;
}
.button{
  cursor: pointer;
}
.currentpage{
  color: blue;
}
img{
  width: 100%;
}
.card{
  /* max-width: 500px; */
  margin: auto;
  flex-grow: .3;
}
.mlauto{
  margin-left: auto;
  margin-right: 0;
}

/* @media (min-width: 768px) {
	:root {
		font-size: 90%;
	}
  .card{
    flex-direction:row;display:flex;
  }
  .Card-column{
    max-width: 878px;
    margin: auto;
  }
}
.center {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}	 */

     
hr{
  background-color: black;
  content: "";
  /* height: 1px;
  width: 4rem; */
  transform-origin: center left;
  margin-top: 1.5rem;
margin-bottom: 1.5rem;
}

.PaddingInside{
  padding: 1.2em;
}
.card-info{
  padding: 1.2em;
}
.button{
  cursor: pointer;
}
.currentpage{
  color: blue;
}
.accentcolor {
  color:blueviolet
}
img{
  width: 100%;
}
.card{
  /* max-width: 500px; */
  margin: auto;
  flex-grow: .3;
}
.mlauto{
  margin-left: auto;
  margin-right: 0;
}
.center {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}	
.centerB { 
  justify-content: center; 
}  

@media (min-width: 768px) {
	:root {
		font-size: 90%;
	}
  .card{
    flex-direction:row;display:flex;
  }
  .Card-column{
    max-width: 1024px;
    margin: auto;
  }
  .swap{
    flex-direction:row;display:flex;
  }
  .swap-reserve{
    flex-direction:row-reverse;display:flex;
  }
  .size1-3{
  width:33%;
}
.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
#container>.a {
  grid-column: 1;
}

#container>.b {
  grid-column: 2;
}

#container.reverse>.a {
  grid-column: 2;
}

#container.reverse>.b {
  grid-column: 1;
}
}

.PaddingInside{
  padding: 1.2em;
}
.card-info{
  padding: 1.2em;
}
.button{
  cursor: pointer;
}
.currentpage{
  color: blue;
}
.accentcolor {
  color:blueviolet
}
img{
  width: 100%;
}
.card{
  /* max-width: 500px; */
  margin: auto;
  flex-grow: .3;
}
.mlauto{
  margin-left: auto;
  margin-right: 0;
}
.center {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}	
.centerB { 
  justify-content: center; 
}  

@media (min-width: 768px) {
	:root {
		font-size: 90%;
	}
  .card{
    flex-direction:row;display:flex;
  }
  .Card-column{
    max-width: 1024px;
    margin: auto;
  }
  .swap{
    flex-direction:row;display:flex;
  }
  .swap-reserve{
    flex-direction:row-reverse;display:flex;
  }
  .size1-3{
  width:33%;
}
.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
#container>.a {
  grid-column: 1;
}

#container>.b {
  grid-column: 2;
}

#container.reverse>.a {
  grid-column: 2;
}

#container.reverse>.b {
  grid-column: 1;
}
}

.PaddingInside{
  padding: 1.2em;
}
.card-info{
  padding: 1.2em;
}
.button{
  cursor: pointer;
}
.currentpage{
  color: blue;
}
.accentcolor {
  color:blueviolet
}
img{
  width: 100%;
}
.card{
  /* max-width: 500px; */
  margin: auto;
  flex-grow: .3;
}
.mlauto{
  margin-left: auto;
  margin-right: 0;
}
.center {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}	
.centerB { 
  justify-content: center; 
}  

@media (min-width: 768px) {
	:root {
		font-size: 90%;
	}
  .card{
    flex-direction:row;display:flex;
  }
  .Card-column{
    max-width: 1024px;
    margin: auto;
  }
  .swap{
    flex-direction:row;display:flex;
  }
  .swap-reserve{
    flex-direction:row-reverse;display:flex;
  }
  .size1-3{
  width:33%;
}
.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
#container>.a {
  grid-column: 1;
}

#container>.b {
  grid-column: 2;
}

#container.reverse>.a {
  grid-column: 2;
}

#container.reverse>.b {
  grid-column: 1;
}
}
.button,
.social a{
  transform-origin: center;
  transition-duration: 100ms;
}
.button:hover{
  box-shadow: 0 1.5rem 3rem rgba(0,0,0, 0.2);
  transform: scale(1.02) translateY(-4px);
}
.button:active{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.3);
  transform: scale(.98) translateY(-2px);
}
.social{
  display: flex;
  margin-top: 1.5rem;
}
.social li{
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}
.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  opacity: 0.5;
  transition-property: opacity,transform;
  width: 2rem;
  will-change: opacity, tranform;
}
body{
  padding: 1.2em;
}
.card-info{
  padding: 1.2em;
}
.button{
  cursor: pointer;
}
.currentpage{
  color: blue;
}
img{
  width: 100%;
}
.card{
  /* max-width: 500px; */
  margin: auto;
  flex-grow: .3;
}
.mlauto{
  margin-left: auto;
  margin-right: 0;
}

@media (min-width: 768px) {
	/* :root {
		font-size: 90%;
	} */
  .card{
    flex-direction:row;display:flex;
  }
  .Card-column{
    max-width: 1024px;
    margin: auto;
  }
}

.PaddingInside{
  padding: 1.2em;
}
.card-info{
  padding: 1.2em;
}
.button{
  cursor: pointer;
}
.currentpage{
  color: blue;
}
.accentcolor {
  color:blueviolet
}
img{
  width: 100%;
}
.card{
  /* max-width: 500px; */
  margin: auto;
  flex-grow: .3;
}
.mlauto{
  margin-left: auto;
  margin-right: 0;
}
.center {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}	
.centerB { 
  justify-content: center; 
}  

@media (min-width: 768px) {
	:root {
		font-size: 90%;
	}
  .card{
    flex-direction:row;display:flex;
  }
  .Card-column{
    max-width: 1024px;
    margin: auto;
  }
  .swap{
    flex-direction:row;display:flex;
  }
  .swap-reserve{
    flex-direction:row-reverse;display:flex;
  }
  .size1-3{
  width:33%;
}
.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
#container>.a {
  grid-column: 1;
}

#container>.b {
  grid-column: 2;
}

#container.reverse>.a {
  grid-column: 2;
}

#container.reverse>.b {
  grid-column: 1;
}
}
.git:hover {
color:black;
}